#container {
  border: 1px solid #c7c7c7;
  margin: auto;
  padding: 10px;
  width: 50%;
}

#item {
  display: flex;
  margin: 10px;
  padding: 10px;
  background-color: #c7c7c7;
  border-radius: 5px;
}

.item-button {
  width: 50px;
  height: 30px;
}
